.elements__list {
	gap: 20px 17px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
	padding: 50px 0 66px;
}

@media screen and (max-width: 1000px) {
	.elements__list {
		grid-template-columns: repeat(2, 1fr);
		padding-top: 36px;
		padding-bottom: 48px;
		width: fit-content;
	}
}

@media screen and (max-width: 620px) {
	.elements__list {
		grid-template-columns: repeat(1, 1fr);
	}
}