.form__title {
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 34px 36px 38px;
  max-width: 430px;
  user-select: none;
}

@media screen and (max-width: 620px) {
  .form__title {
    font-size: 18px;
    line-height: 21.78px;
    margin: 25px 22px 59px;
  }
}