.form__input {
  margin: 0;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  width: 100%;
}

.form__input:focus {
  outline: none;
}