.popup {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  display: flex;
  opacity: 0;
  position: fixed;
  left: 0;
  visibility: hidden;
  right: 0;
  top: 0;
  z-index: 2;
  transition: all .25s ease-in-out;
}