.place__paragraph {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    margin: 0;
}

.place__paragraph:nth-child(2) {
    margin-top: 26px;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }

    .place__paragraph:nth-child(2) {
        margin-top: 25px;
    }
}