.heading {
  border-bottom: 1px solid #dadada;
  color: var(--text-color-primary, white);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  margin: 0 70px;
  padding-bottom: 26px;
  position: relative;
  text-align: left;
  max-width: 1280px;
}

@media screen and (max-width: 768px) {
  .heading {
    margin: 0 50px;
    padding-bottom: 23px;
  }
}

@media screen and (max-width: 400px) {
  .heading {
    font-size: 18px;
    margin: 0 18px;
    padding-bottom: 28px;
  }
}
