.lead__caption {
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 8px 24px 0;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .lead__caption {
        margin-left: 0;
    }
}



@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 18px;
    }
}