.header__logo {
  display: block;
  height: 33px;
  margin: 0;
  width: 142px;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    height: 24.4px;
    width: 103.74px;
  }
}