.header__menu {
  display: none;
  gap: 24px;
  margin: 0 auto;
  padding: 3px 0 31px 0;
  text-align: center;
}

@media screen and (min-width: 620px) {
  .header__menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}