.footer {
    margin: 0 auto;
    max-width: 880px;
    padding-bottom: 60px;
}

@media screen and (max-width: 1000px) {
    .footer {
        padding-bottom: 36px;
        max-width: 581px;
    }
}

@media screen and (max-width: 620px) {
    .footer {
        max-width: 282px;
    }
}