.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  max-width: 336px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .profile__description {
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 620px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    max-width: 189px;
  }
}