.elements__title-wrapper {
    background-color: white;
    border-bottom-left-radius: var(--card-round);
    border-bottom-right-radius: var(--card-round);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 31px 21px;
    overflow: hidden;
}