.root {
  --color-bg: #000;
  --color-text: #fff;
  --color-text-variant: #a9a9a9;
  --color-text-variant-dark: #545454;

  background-color: var(--color-bg);
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  max-width: 880px;
  min-width: 320px;
  padding: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}