.root {
    counter-reset: section;
    --card-round: 10px;

    background-color: #000;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 auto;
    max-width: 880px;
    min-width: 320px;
    padding: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}