.profile__avatar {
  border-radius: 50%;
  height: 120px;
  margin-right: 30px;
  object-fit: cover;
  width: 120px;
}

@media screen and (max-width: 1000px) {
  .profile__avatar {
    margin: 0;
  }
}