.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .header__container {
    padding: 27px 0 0;
  }
}