.header__menu-button {
  border: unset;
    padding: 0;
    background: url(../../../images/icon-burger-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.header__menu-button:hover {
  opacity: .6;
}

.header__menu-button:focus {
  opacity: .6;
}

@media screen and (min-width: 620px) {
  .header__menu-button {
    visibility: hidden;
  }
}