.elements__like-button {
    background-color: transparent;
    background-image: url(../../../images/icon-like.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    height: 19px;
    width: 22px;
    padding: 0;
    background-size: contain;
    transition: .5s opacity;
}

.elements__like-button:hover {
    opacity: .5;
    transition: .5s opacity;
}