.about-me {
  color: var(--text-color-primary, white);
  padding: 107px 0 125px;
  width: 100%;
  max-width: 1280px;
}

.about-me__wrapper {
  display: flex;
  gap: 49px;
  justify-content: space-between;
  margin: 0 70px;
  padding: 66px 0 0;
}

.about-me__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__info-name {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-me__info-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin: 18px 0 0;
}

.about-me__info-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin: 26px 0 0;
}

.about-me__info-social-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-me__info-social {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  position: relative;
  width: fit-content;
}

.about-me__info-social:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--text-color-primary, white);
  transform-origin: bottom right;
  transition: transform var(--transition-duration-underline, .5s);
}

.about-me__info-social:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.about-me__image {
  border-radius: 10px;
  height: 327px;
  object-fit: cover;
  width: 270px;
}

@media screen and (max-width: 768px) {
  .about-me__wrapper {
    margin: 0 50px;
    padding-top: 60px;
  }

  .about-me__info-name {
    font-size: 40px;
    line-height: 1.2;
  }

  .about-me__info-description,
  .about-me__info-about {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__info-about {
    max-width: 364px;
  }

  .about-me__image {
    height: 307px;
    width: 255px;
  }
  
  .about-me__info-social-list {
    margin-top: 40px;
  }
}

@media screen and (max-width: 640px) {
  .about-me__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
}

@media screen and (max-width: 400px) {
  .about-me {
    padding: 70px 0;
  }

  .about-me__wrapper {
    margin: 0 18px;
  }

  .about-me__info-name {
    font-size: 30px;
    line-height: 1.2;
  }

  .about-me__info-description,
  .about-me__info-about {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__info-about {
    max-width: 364px;
  }

  .about-me__image {
    height: 352px;
    width: 284px;
  }
}
