.elements__trash-button {
  background: transparent url(../../../images/icon-trash.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  border: none;
  height: 19px;
  width: 18px;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: .5s opacity;
}

.elements__trash-button:hover {
  opacity: .6;
  transition: .5s opacity;
}