.form__field {
    display: flex;
    margin: 0 36px;
    position: relative;
}

/*.form__field:first-of-type {
    margin-bottom: 32px;
}*/

@media screen and (max-width: 620px) {
    .form__field {
        margin: 0 22px;
    }    
}